.nav__container {
  max-width: 1440px;
  border-bottom: 1px solid #ffffff33;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 80px;
}
.nav__link {
  text-decoration: none;
  color: inherit;
}
.nav__item {
  position: relative;
  padding: 0;
  margin: 30px 0 26px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #ffffff;
}
.nav__container--black-text .nav__item {
  color: #1a1b22;
}

.nav__item--logo {
  margin-left: 104px;
  margin-right: auto;
  font-size: 20px;
  font-weight: 700;
  font-family: "Roboto Slab ", Arial, Helvetica, sans-serif;
}
.nav__item--logo:hover {
  color: rgb(182, 182, 182);
}
.nav__item--home {
  display: flex;
  justify-content: center;
  margin-left: 0;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}

.nav__item--saved {
  margin-left: 76px;
  margin-right: 64px;
  font-weight: 500;
  font-size: 18px;
  color: #b6bcbf;
  cursor: pointer;
}
.nav__item--home-hover,
.nav__item--saved-hover {
  transition: 0.5s ease-in-out;
}
.nav__item--home-hover:hover {
  color: #94989b;
}
.nav__item--saved-hover:hover {
  color: #ffff;
}

.nav__link--active::after {
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  bottom: -29px;
  left: 50%;
  transform: translateX(-50%);
}

.nav__item--home .nav__link--active::after {
  width: 68px;
  background-color: #ffff;
}
.nav__item--saved .nav__link--active::after {
  width: 178px;
  background-color: #1a1b22;
}
.nav__item--logout {
  margin: 0;
}
.nav__logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  border-radius: 100px;
  border: 1px solid #ffff;
  cursor: pointer;
  width: 112px;
  height: 48px;
  background-color: transparent;
  box-sizing: border-box;
  color: #ffffff;
  margin-right: 104px;
}
.nav__user-name {
  margin-left: 19px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.nav__logout-icon {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.nav__container--black-text .nav__user-name {
  color: #1a1b22;
}
.nav__container--black-text .nav__logout {
  border-color: #1a1b22;
}
.nav__signin {
  cursor: pointer;
  margin: 19px 104px 13px 42px;
  border-radius: 100px;
  border: 1px solid #ffff;
  color: #ffff;
  width: 176px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.nav__item--menu-icon {
  display: none;
}
.nav__menu {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 24px;
  height: 24px;
}
@media screen and (max-width: 863px) {
  .nav__list {
    height: 66px;
  }
  .nav__signin {
    width: 152px;
    height: 40px;
    margin: 14px 40px 12px 16px;
  }
  .nav__item--home {
    font-size: 16px;
    width: 64px;
  }
  .nav__item--saved {
    width: 160px;
    font-size: 16px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    justify-content: center;
  }
  .nav__item--home .nav__link--active::after {
    width: 60px;
  }
  .nav__item--saved .nav__link--active::after {
    width: 160px;
  }
  .nav__link--active::after {
    bottom: -24px;
  }
  .nav__item--logo {
    margin-left: 40px;
  }
  .nav__logout {
    width: 100px;
    height: 40px;
    border: none;
    margin-right: 40px;
  }
  .nav__user-name {
    margin-left: 15px;
    font-size: 16px;
  }
  .nav__logout-icon {
    margin-right: 13px;
  }
}
@media screen and (max-width: 630px) {
  .nav__item--menu-icon {
    display: block;
    background-color: transparent;
  }
  .nav__container {
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav__list {
    height: 56px;
    max-width: 320px;
    padding: 0 16px;
  }
  .nav__item--home,
  .nav__item--logout,
  .nav__item--saved,
  .nav__signin {
    display: none;
  }
  .nav__item--logo {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
  .nav__container--menu-open {
    background-color: black;
  }
  .nav__hide-mobile {
    display: none;
  }
}
