.preloader__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 80px 0 0;
}
.preloader__spinner {
  margin: 0 0 24px;
  padding: 0;
}
.preloader__spinner--animation {
  width: 74px;
  height: 74px;
  margin: 0;
  padding: 0;
  background-image: url("../../images/loading.png");
  background-size: contain;
  background-repeat: no-repeat;
  animation: spin 0.75s linear infinite;
}
.preloader__text {
  margin: 0 0 80px;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #b6bcbf;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
