.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ffff;
}
.header__container {
  margin: 80px 0 80px;
  max-width: 608px;
}
.header__title {
  font-family: "Roboto slab", Arial, sans-serif;
  font-weight: 400;
  font-size: 60px;
  margin: 0;
}

.header__caption {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  padding: 32px 0 32px;
  font-weight: 400;
  margin: 0;
}
.header__search-form {
  position: relative;
}
.header__search-container {
  margin: 56px 0 0;
  display: flex;
  align-items: center;
  position: relative;
}
.header__search-error {
  width: 200px;
  height: 14px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #ff0000;
  position: absolute;
  top: -24px;
  left: 24px;
}

.header__search-input {
  padding: 0 0 0 16px;
  font-family: "Roboto", Arial, sans-serif;
  width: 100%;
  border: 1px;
  border-color: #d1d2d6;
  height: 64px;
  border-radius: 100px;
  outline: none;
}
.header__search-btn {
  position: absolute;
  right: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  width: 168px;
  height: 64px;
  border-radius: 100px;
  background-color: #2f71e5;
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
}
.header__search-btn:hover {
  background-color: #347eff;
}
.header__search-btn:active {
  background-color: #2a65cc;
}
