.footer {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0 26px;
  margin: 0 24px;
  max-width: 1280px;
  width: 100%;
}
.footer__copyright {
  padding: 0 0 26px;
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #b6bcbf;
  line-height: 22px;
}
.footer__links {
  display: flex;
  margin: 0 0 0 auto;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.footer__links-container {
  display: flex;
  gap: 40px;
  padding: 0 0 26px;
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.footer__link {
  text-decoration: none;
  color: #1a1b22;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.footer__link:hover {
  color: gray;
}

.footer__social {
  display: flex;
  gap: 24px;
  margin: 0 0 28px;
  padding: 0;
}
.footer__social-link {
  width: 24px;
  height: 24px;
}
.footer__social-icon {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 863px) {
  .footer__container {
    padding: 24px 0 20px;
    margin: 0 16px;
    max-width: 720px;
  }
  .footer__copyright {
    margin: 0;
    padding: 0 0 18px;
  }
  .footer__links-container {
    margin: 0;
    padding: 0 0 18px;
  }
  .footer__social {
    margin: 0;
    padding: 0 0 20px;
  }
}
@media screen and (max-width: 630px) {
  .footer {
    display: flex;
    justify-content: center;
  }
  .footer__container {
    max-width: 320px;
    height: 176px;
    flex-direction: column;
    margin: 0;
    padding: 0 16px;
  }
  .footer__copyright {
    order: 2;
    margin: 0;
    padding: 0 0 22px;
    width: 100%;
  }
  .footer__links {
    order: 1;
    margin: 0;
    width: 100%;
    justify-content: space-between;
    height: 74px;
    padding: 20px 0 38px;
    align-items: start;
  }
  .footer__links-container {
    flex-direction: column;
    max-width: 200px;
    height: 74px;
    padding: 0;
    margin: 0;
    gap: 0;
  }
  .footer__link--home {
    margin-bottom: auto;
  }
  .footer__social {
    padding: 0;
  }
}
