.card {
  width: 399px;
  height: 576px;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.card__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
}
.card__image {
  width: 400px;
  height: 272px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  padding: 0;
  margin: 0;
}
.card__keyword {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 24px;
  top: 24px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  border-radius: 10px;
  background-color: #ffff;
  padding: 8px 22px;
  margin: 0;
}
.card__button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: none;
  color: #ffff;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
  display: flex;
}
.card__no-saved {
  background-image: url("../../assets/noSaveIcon.png");
}
.card__saved-icon {
  background-image: url("../../assets/saveIcon.png");
}
.card__remove-icon {
  background-image: url("../../assets/trash.png");
}
.card__remove-icon:hover {
  background-image: url("../../assets/trashHover.png");
}
.card__no-saved:hover {
  background-image: url("../../assets/savedHover.png");
}
.card__info {
  margin: 20px 24px 24px;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.card__published {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  max-width: 161px;
  font-size: 18px;
  margin: 0 0 12px;
  padding: 0;
  color: #b6bcbf;
  font-weight: 400;
}
.card__title {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-size: 26px;
  height: 60px;
  color: #1a1b22;
  font-weight: 400;
  margin: 0 0 16px;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.card__description {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  height: 110px;
  color: #1a1b22;
  margin: 0 0 18px;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
.card__source {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #b6bcbf;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
.card__button-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #ffff;
  box-shadow: 0px 10px 22px 0px #3b4a741a;
  box-sizing: border-box;
  color: #1a1b22;
  z-index: 999;
  border-radius: 10px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 12px;
  transition: opacity 0.5s linear 0s;
  position: absolute;
  left: -172px;
  margin: 0;
  padding: 11px 26px;
}
.card__button-text_hidden {
  opacity: 0;
}
